## Download de Datasets

## Imports

In [1]:
import openml
import pandas as pd 
from openml.datasets import get_dataset

## Selecionando bases

No trabalho de Antônio e Thiago, foram fornecidas as seguintes caracteristicas sobre os 71 conjuntos de dados utilizados:

![Dados utilizados no trabalho de Antônio e Tiago](Images/datasets_metadata.png)

### Tentativa de encontrar os critérios

In [2]:
datalist = openml.datasets.list_datasets(output_format="dataframe")

Com base nesse historgrama, foram utilizados os seguintes parâmetros de filtragem

In [3]:
instances_condition = datalist.NumberOfInstances <= 10000

classes_condition = datalist.NumberOfClasses <= 10

numeric_features_condition = datalist.NumberOfNumericFeatures <= 500

symbolic_features_condition = datalist.NumberOfSymbolicFeatures <= 40

majority_class_condition =  (datalist.MajorityClassSize/datalist.NumberOfInstances) <= 1

minority_class_condition = (datalist.MinorityClassSize/datalist.NumberOfInstances) <= 0.5

datasets = datalist.loc[instances_condition & classes_condition &
                        numeric_features_condition & symbolic_features_condition &
                        majority_class_condition & minority_class_condition]

datasets

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
9,9,autos,1,1,active,ARFF,67.0,22.0,3.0,6.0,26.0,205.0,46.0,59.0,15.0,11.0
10,10,lymph,1,1,active,ARFF,81.0,8.0,2.0,4.0,19.0,148.0,0.0,0.0,3.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45711,45711,doa_bwin,3,39327,active,arff,354.0,NaN,176.0,2.0,14.0,530.0,0.0,0.0,11.0,3.0
45712,45712,doa_bwin_balanced,1,39327,active,arff,354.0,NaN,354.0,2.0,14.0,708.0,0.0,0.0,11.0,3.0
45717,45717,bwin_amlb,1,39327,active,arff,354.0,NaN,176.0,2.0,14.0,530.0,0.0,0.0,11.0,3.0
45732,45732,MABL,1,39582,active,arff,1.0,NaN,1.0,3.0,3.0,3.0,0.0,0.0,2.0,0.0
45748,45748,StudentsPerformance,2,40508,active,arff,518.0,NaN,482.0,2.0,8.0,1000.0,0.0,0.0,3.0,0.0

In [4]:
print(f'Foram encontrados {len(datasets)} datasets que satisfazem essas condições')

Foram encontrados 1288 datasets que satisfazem essas condições

In [5]:
datalist.head()

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0

In [6]:
minority_class_condition

2         True
3         True
4         True
5         True
6         True
         ...
45744    False
45745     True
45746    False
45747    False
45748     True
Length: 5423, dtype: bool

### Utilizando ids disponibilizados

In [11]:
dataset_ids = [1043, 1048, 1050, 1056, 1068, 1069, 1071, 1116, 12, 1460, 1462, 1464, 1475, 1479, 1480, 1485,
1487, 1489, 1494, 1496, 1497, 1498, 14, 1501, 1504, 1507, 1510, 1511, 1526, 1527, 1528, 1535, 1538,
1541, 1540, 1541, 1547, 1548, 1552, 1553, 1558, 1566, 1570, 16, 182, 18, 21, 22, 23, 28, 292, 294, 30,
312, 316, 31, 333, 334, 335, 36, 375, 37, 3, 40474, 40733, 44, 4538, 50, 54, 59, 60]
sorted(dataset_ids)

[3,
 12,
 14,
 16,
 18,
 21,
 22,
 23,
 28,
 30,
 31,
 36,
 37,
 44,
 50,
 54,
 59,
 60,
 182,
 292,
 294,
 312,
 316,
 333,
 334,
 335,
 375,
 1043,
 1048,
 1050,
 1056,
 1068,
 1069,
 1071,
 1116,
 1460,
 1462,
 1464,
 1475,
 1479,
 1480,
 1485,
 1487,
 1489,
 1494,
 1496,
 1497,
 1498,
 1501,
 1504,
 1507,
 1510,
 1511,
 1526,
 1527,
 1528,
 1535,
 1538,
 1540,
 1541,
 1541,
 1547,
 1548,
 1552,
 1553,
 1558,
 1566,
 1570,
 4538,
 40474,
 40733]

In [8]:
len(dataset_ids)

71

Realizando Download dos datasets

In [9]:
dataset_list = openml.datasets.get_datasets(dataset_ids)

/home/gabriel/UnB/PIBIC/Experiments/venv/lib/python3.11/site-packages/openml/datasets/functions.py:447: FutureWarning: Starting from Version 0.15 `download_data`, `download_qualities`, and `download_features_meta_data` will all be ``False`` instead of ``True`` by default to enable lazy loading. To disable this message until version 0.15 explicitly set `download_data`, `download_qualities`, and `download_features_meta_data` to a bool while calling `get_dataset`.
  get_dataset(dataset_id, download_data, download_qualities=download_qualities),