# Instalação de Bases de Dados do OpenML

In [1]:
import openml
import pandas as pd
from openml.datasets import edit_dataset, fork_dataset, get_dataset

In [2]:
datalist = openml.datasets.list_datasets(output_format="dataframe")

In [3]:
datalist.head()

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0

## Exercise 1
- Find datasets with more than 1000 examples
- Find a dataset called 'eeg_eye_state'.
- Find all datasets with more than 50 classes

In [4]:
datalist[datalist.NumberOfInstances > 10000].sort_values(["NumberOfInstances"]).head(20)

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
43832,43832,Apple-Complete-Stock-Data1980-2020,1,30125,active,arff,NaN,NaN,NaN,NaN,7.0,10016.0,1.0,6.0,6.0,0.0
23515,23515,sulfur,1,225,active,ARFF,NaN,NaN,NaN,0.0,7.0,10081.0,0.0,0.0,7.0,0.0
44003,44003,sulfur,2,26324,active,arff,NaN,NaN,NaN,0.0,7.0,10081.0,0.0,0.0,7.0,0.0
44020,44020,sulfur,3,26324,active,arff,NaN,NaN,NaN,0.0,7.0,10081.0,0.0,0.0,7.0,0.0
44145,44145,sulfur,4,26324,active,arff,NaN,NaN,NaN,0.0,7.0,10081.0,0.0,0.0,7.0,0.0
43968,43968,pol,4,26324,active,arff,5041.0,NaN,5041.0,2.0,27.0,10082.0,0.0,0.0,26.0,0.0
44122,44122,pol,10,26324,active,arff,5041.0,NaN,5041.0,2.0,27.0,10082.0,0.0,0.0,26.0,1.0
43956,43956,pol,3,26324,active,arff,5041.0,NaN,5041.0,2.0,27.0,10082.0,0.0,0.0,26.0,0.0
44113,44113,pol,9,26324,active,arff,5041.0,NaN,5041.0,2.0,27.0,10082.0,0.0,0.0,26.0,1.0
44082,44082,pol,8,26324,active,arff,5041.0,NaN,5041.0,2.0,27.0,10082.0,0.0,0.0,26.0,1.0
4133,4133,kdd_internet_usage,2,2,active,ARFF,NaN,10108.0,NaN,NaN,72.0,10108.0,2699.0,2699.0,0.0,72.0
372,372,internet_usage,1,2,active,ARFF,2878.0,10108.0,6.0,46.0,72.0,10108.0,2699.0,2699.0,0.0,72.0
43920,43920,kdd_internet_usage,3,30861,active,ARFF,7393.0,NaN,2715.0,2.0,71.0,10108.0,2699.0,2699.0,0.0,71.0
981,981,kdd_internet_usage,1,2,active,ARFF,7393.0,129.0,2715.0,2.0,69.0,10108.0,2699.0,2699.0,0.0,69.0
1536,1536,volcanoes-b6,1,64,active,ARFF,9746.0,5.0,26.0,5.0,4.0,10130.0,0.0,0.0,3.0,1.0
43458,43458,data-science-survey-on-Kaggle,1,30126,active,arff,NaN,NaN,NaN,NaN,4.0,10153.0,4162.0,9824.0,0.0,0.0
42984,42984,polish-bankruptcy-2year,1,24140,active,ARFF,NaN,NaN,NaN,NaN,65.0,10173.0,6085.0,12157.0,64.0,1.0
1531,1531,volcanoes-b1,1,64,active,ARFF,9791.0,5.0,26.0,5.0,4.0,10176.0,0.0,0.0,3.0,1.0
1534,1534,volcanoes-b4,1,64,active,ARFF,9805.0,5.0,26.0,5.0,4.0,10190.0,0.0,0.0,3.0,1.0
1459,1459,artificial-characters,1,64,active,ARFF,1416.0,10.0,600.0,10.0,8.0,10218.0,0.0,0.0,7.0,1.0

In [5]:
datalist.query('name == "eeg-eye-state"')

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
1471,1471,eeg-eye-state,1,64,active,ARFF,8257.0,2.0,6723.0,2.0,15.0,14980.0,0.0,0.0,14.0,1.0

In [6]:
datalist.query("NumberOfClasses > 50")

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
1491,1491,one-hundred-plants-margin,1,64,active,ARFF,16.0,100.0,16.0,100.0,65.0,1600.0,0.0,0.0,64.0,1.0
1492,1492,one-hundred-plants-shape,1,64,active,ARFF,16.0,100.0,16.0,100.0,65.0,1600.0,0.0,0.0,64.0,1.0
1493,1493,one-hundred-plants-texture,1,64,active,ARFF,16.0,100.0,15.0,100.0,65.0,1599.0,0.0,0.0,64.0,1.0
4552,4552,BachChoralHarmony,1,874,active,ARFF,503.0,102.0,1.0,102.0,17.0,5665.0,0.0,0.0,2.0,15.0
41167,41167,dionis,1,1478,active,ARFF,2469.0,355.0,878.0,355.0,61.0,416188.0,0.0,0.0,60.0,1.0
41169,41169,helena,1,1478,active,ARFF,4005.0,100.0,111.0,100.0,28.0,65196.0,0.0,0.0,27.0,1.0
41960,41960,seattlecrime6,1,9035,active,ARFF,131297.0,144.0,1.0,144.0,8.0,523590.0,3615.0,6916.0,2.0,6.0
41983,41983,CIFAR-100,1,86,active,arff,600.0,NaN,600.0,100.0,3073.0,60000.0,0.0,0.0,3072.0,1.0
42078,42078,beer_reviews,4,5332,active,arff,117586.0,NaN,241.0,104.0,13.0,1586614.0,68136.0,68148.0,9.0,0.0
42087,42087,beer_reviews,5,5332,active,arff,117586.0,NaN,241.0,104.0,13.0,1586614.0,68136.0,68148.0,9.0,0.0
42088,42088,beer_reviews,6,5332,active,arff,117586.0,NaN,241.0,104.0,13.0,1586614.0,68136.0,68148.0,9.0,0.0
42089,42089,vancouver_employee,1,5332,active,arff,117586.0,NaN,241.0,104.0,13.0,1586614.0,68136.0,68148.0,9.0,0.0
42123,42123,article_influence,2,3422,active,arff,32.0,3169.0,1.0,3169.0,7.0,3615.0,12.0,48.0,5.0,1.0
42223,42223,dataset-autoHorse_fixed,1,10792,active,ARFF,2.0,NaN,1.0,186.0,69.0,201.0,0.0,0.0,68.0,1.0
42396,42396,aloi,3,2902,active,arff,108.0,NaN,108.0,1000.0,129.0,108000.0,0.0,0.0,128.0,1.0
43723,43723,Toronto-Apartment-Rental-Price,1,30123,active,arff,58.0,NaN,1.0,188.0,7.0,1124.0,0.0,0.0,5.0,0.0
44282,44282,Meta_Album_PLK_Mini,1,30980,active,arff,40.0,NaN,40.0,86.0,3.0,3440.0,3440.0,3440.0,1.0,0.0
44283,44283,Meta_Album_FLW_Mini,1,30980,active,arff,40.0,NaN,40.0,102.0,3.0,4080.0,4080.0,4080.0,1.0,0.0
44284,44284,Meta_Album_SPT_Mini,1,30980,active,arff,40.0,NaN,40.0,73.0,3.0,2920.0,2920.0,2920.0,1.0,0.0
44285,44285,Meta_Album_BRD_Mini,1,30980,active,arff,40.0,NaN,40.0,315.0,3.0,12600.0,12600.0,12600.0,1.0,0.0
44288,44288,Meta_Album_TEX_Mini,1,30980,active,arff,40.0,NaN,40.0,64.0,3.0,2560.0,2560.0,2560.0,1.0,0.0
44289,44289,Meta_Album_CRS_Mini,1,30980,active,arff,40.0,NaN,40.0,196.0,3.0,7840.0,7840.0,7840.0,1.0,0.0
44292,44292,Meta_Album_INS_2_Mini,1,30980,active,arff,40.0,NaN,40.0,102.0,3.0,4080.0,4080.0,4080.0,1.0,0.0
44298,44298,Meta_Album_DOG_Mini,1,30980,active,arff,40.0,NaN,40.0,120.0,3.0,4800.0,4800.0,4800.0,1.0,0.0
44304,44304,Meta_Album_TEX_ALOT_Mini,1,30980,active,arff,40.0,NaN,40.0,250.0,3.0,10000.0,10000.0,10000.0,1.0,0.0
44306,44306,Meta_Album_INS_Mini,1,30980,active,arff,40.0,NaN,40.0,104.0,3.0,4160.0,0.0,0.0,0.0,0.0
44317,44317,Meta_Album_PLK_Extended,1,30980,active,arff,187384.0,NaN,2.0,102.0,3.0,473273.0,473273.0,473273.0,1.0,0.0
44318,44318,Meta_Album_FLW_Extended,1,30980,active,arff,258.0,NaN,40.0,102.0,3.0,8189.0,8189.0,8189.0,1.0,0.0
44319,44319,Meta_Album_SPT_Extended,1,30980,active,arff,191.0,NaN,99.0,73.0,3.0,10416.0,10416.0,10416.0,1.0,0.0
44320,44320,Meta_Album_BRD_Extended,1,30980,active,arff,259.0,NaN,124.0,315.0,3.0,49054.0,49054.0,49054.0,1.0,0.0
44322,44322,Meta_Album_TEX_Extended,1,30980,active,arff,513.0,NaN,40.0,64.0,3.0,8675.0,8675.0,8675.0,1.0,0.0
44323,44323,Meta_Album_CRS_Extended,1,30980,active,arff,136.0,NaN,48.0,196.0,3.0,16185.0,16185.0,16185.0,1.0,0.0
44326,44326,Meta_Album_INS_2_Extended,1,30980,active,arff,5740.0,NaN,71.0,102.0,3.0,75222.0,75222.0,75222.0,1.0,0.0
44331,44331,Meta_Album_DOG_Extended,1,30980,active,arff,252.0,NaN,144.0,120.0,3.0,20480.0,20480.0,20480.0,1.0,0.0
44337,44337,Meta_Album_TEX_ALOT_Extended,1,30980,active,arff,100.0,NaN,100.0,250.0,3.0,25000.0,25000.0,25000.0,1.0,0.0
44340,44340,Meta_Album_INS_Extended,2,30980,active,arff,49555.0,NaN,22.0,117.0,3.0,170506.0,0.0,0.0,0.0,0.0
44533,44533,dionis_seed_0_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,12.0,NaN,4.0,355.0,61.0,2000.0,0.0,0.0,60.0,1.0
44534,44534,dionis_seed_1_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,12.0,NaN,4.0,355.0,61.0,2000.0,0.0,0.0,60.0,1.0
44535,44535,dionis_seed_2_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,12.0,NaN,4.0,355.0,61.0,2000.0,0.0,0.0,60.0,1.0
44536,44536,dionis_seed_3_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,12.0,NaN,4.0,355.0,61.0,2000.0,0.0,0.0,60.0,1.0
44537,44537,dionis_seed_4_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,12.0,NaN,4.0,355.0,61.0,2000.0,0.0,0.0,60.0,1.0
44728,44728,helena_seed_0_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,123.0,NaN,3.0,100.0,28.0,2000.0,0.0,0.0,27.0,1.0
44729,44729,helena_seed_1_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,123.0,NaN,3.0,100.0,28.0,2000.0,0.0,0.0,27.0,1.0
44730,44730,helena_seed_2_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,123.0,NaN,3.0,100.0,28.0,2000.0,0.0,0.0,27.0,1.0
44731,44731,helena_seed_3_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,123.0,NaN,3.0,100.0,28.0,2000.0,0.0,0.0,27.0,1.0
44732,44732,helena_seed_4_nrows_2000_nclasses_10_ncols_100...,1,32840,active,arff,123.0,NaN,3.0,100.0,28.0,2000.0,0.0,0.0,27.0,1.0
45049,45049,MD_MIX_Mini_Copy,1,9186,active,arff,40.0,NaN,40.0,706.0,69.0,28240.0,28240.0,665053.0,45.0,2.0
45102,45102,dailybike,1,34122,active,ARFF,4.0,NaN,1.0,606.0,13.0,731.0,0.0,0.0,12.0,1.0
45103,45103,dailybike,2,34122,active,ARFF,4.0,NaN,1.0,606.0,13.0,731.0,0.0,0.0,12.0,1.0
45104,45104,PLK_Mini_Copy,1,9186,active,arff,40.0,NaN,40.0,86.0,3.0,3440.0,3440.0,3440.0,1.0,1.0
45274,45274,PASS,1,9186,active,arff,80.0,NaN,1.0,94137.0,7.0,1439588.0,887733.0,1775490.0,2.0,0.0
45569,45569,DBLP-QuAD,1,36230,active,arff,2.0,NaN,1.0,9999.0,10.0,10000.0,0.0,0.0,0.0,2.0

## Download datasets

In [7]:
dataset = openml.datasets.get_dataset(1471)

/tmp/ipykernel_54138/1968058793.py:1: FutureWarning: Starting from Version 0.15 `download_data`, `download_qualities`, and `download_features_meta_data` will all be ``False`` instead of ``True`` by default to enable lazy loading. To disable this message until version 0.15 explicitly set `download_data`, `download_qualities`, and `download_features_meta_data` to a bool while calling `get_dataset`.
  dataset = openml.datasets.get_dataset(1471)

In [9]:
print("Name:", dataset.name )
print("Target Feature:", dataset.default_target_attribute )
print("URL:", dataset.url )

Name: eeg-eye-state
Target Feature: Class
URL: https://api.openml.org/data/v1/download/1587924/eeg-eye-state.arff

In [10]:
print(dataset.description)

**Author**: Oliver Roesler
**Source**: [UCI](https://archive.ics.uci.edu/ml/datasets/EEG+Eye+State), Baden-Wuerttemberg, Cooperative State University (DHBW), Stuttgart, Germany
**Please cite**: [UCI](https://archive.ics.uci.edu/ml/citation_policy.html)

All data is from one continuous EEG measurement with the Emotiv EEG Neuroheadset. The duration of the measurement was 117 seconds. The eye state was detected via a camera during the EEG measurement and added later manually to the file after analyzing the video frames. '1' indicates the eye-closed and '0' the eye-open state. All values are in chronological order with the first measured value at the top of the data.

The features correspond to 14 EEG measurements from the headset, originally labeled AF3, F7, F3, FC5, T7, P, O1, O2, P8, T8, FC6, F4, F8, AF4, in that order.

### Get the actual data

opeml-python returns data as pandas dataframes, and also some aditional meta-data that we don't  care about right now

In [15]:
eeg, *_ = dataset.get_data()

In [16]:
eeg

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,Class
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,1
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,1
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,1
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,1
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,2
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,2
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,2
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,2
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,2

In [17]:
X, y, categorical_indicator, attribute_names = dataset.get_data(
    target=dataset.default_target_attribute )

In [22]:
X.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46

In [23]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14980 entries, 0 to 14979
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      14980 non-null  float64
 1   V2      14980 non-null  float64
 2   V3      14980 non-null  float64
 3   V4      14980 non-null  float64
 4   V5      14980 non-null  float64
 5   V6      14980 non-null  float64
 6   V7      14980 non-null  float64
 7   V8      14980 non-null  float64
 8   V9      14980 non-null  float64
 9   V10     14980 non-null  float64
 10  V11     14980 non-null  float64
 11  V12     14980 non-null  float64
 12  V13     14980 non-null  float64
 13  V14     14980 non-null  float64
dtypes: float64(14)
memory usage: 1.6 MB

In [19]:
y

0        1
1        1
2        1
3        1
4        1
        ..
14975    2
14976    2
14977    2
14978    2
14979    2
Name: Class, Length: 14980, dtype: category
Categories (2, object): ['1' < '2']

In [21]:
categorical_indicator, attribute_names

([False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 ['V1',
  'V2',
  'V3',
  'V4',
  'V5',
  'V6',
  'V7',
  'V8',
  'V9',
  'V10',
  'V11',
  'V12',
  'V13',
  'V14'])

In [24]:
dataset.data_file

'/home/gabriel/.cache/openml/org/openml/www/datasets/1471/dataset.arff'